<!-- <div class="container h-100 ">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <div class="card card-prop">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form>
                        <div class="form-group ">
                            <label for="username">Username</label>
                            <input type="text" class="form-control textForm" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group ">
                            <label for="password">Password</label>
                            <input type="password" class="form-control textForm" id="password" placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

 <!-- src/app/my-container/my-container.component.html -->
<!-- <div class="container-fluid mainContainer">
    <div class="row">
      <div class="col-12">
        <div class="row d-flex">
          <div class="col-4">4</div>
          <div class="col-10">5</div>
        </div>
        <div class="row d-flex">
          <div class="col-4">4</div>
          <div class="col-4">5</div>
          <div class="col-4">6</div>
        </div>
        <div class="row d-flex">
          <div class="col-4">4</div>
          <div class="col-4">5</div>
          <div class="col-4">6</div>
        </div>
      </div>
    </div>
  </div> -->
  


<!-- <div class="container-fluid">
  <div class="row row1 ">
    <div class="col-1 firstCol">
      colm12
    </div>
    <div class="col-9 firstCol">
      colm12
    </div>
  </div>
  <div class="row row2">
    <div class="col-3 middeCol">
      colm12
    </div>
    <div class="col-3 middeCol">
      colm12
    </div>
    <div class="col-3 middeCol">
      colm12
    </div>
  </div> 
  <div class="row row3">
    <div class="col-3 lastCol">
      colm12
    </div>
    <div class="col-3 lastCol">
      colm12
    </div>
    <div class="col-3 lastCol">
      colm12
    </div>
  </div>
</div> -->


<!-- <div class="login-container">
  <div class="login-card">
    <h2>WELCOME TO LOGIN</h2>
    <form >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button  click="submitButton()">Login<i class="fas fa-spin fa-spinner" *ngIf="buttonLoader"></i></button>
    </form>
  </div>
</div> -->


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12" *ngFor="let mylist of [1, 2, 3, 4, 5, 6]; index as i;">
      <i class="fas fa-spin fa-spinner"></i>
    </div>
  </div>
</div>  -->

<!-- <div class="container-fluid">
    <div class="row subrow">
      <div class="col-5 designtwo">one</div>
      <div class="col-3 designtwo">two</div>
  </div>
  <div class="row">
    <div class="col-3 design"> one</div>
    <div class="col-3 design">two</div>
    <div class="col-3 design">
      <div class="row">
        <div class="col-12 two">
          <span> 56 </span>
          <span> 56 </span>
          <span> 56 </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">but</div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row"> 
    <div class="col-4 design" *ngFor="let navya of [1,2]; index as i;"> navya</div>
  </div>
  <div class="row">
    <div class="col-3 designtwo" *ngFor="let navya of [1,2,3]; index as i;"> heh </div>
  </div>
  <div class="row">
    <div class="col-3 design-3" *ngFor="let navya of [1,2,3]; index as i;"> huh </div>
  </div>
</div>


